/*Input*/
.container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 57px;
}

/* Brand */

.brandTitle{
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
    margin-left: 14px;
}

/*Btn*/ 

.btnContainer{
    width: 200px;
    height: 56px;
    border-radius: 40px;
    background:var(--main-color-green);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
 .btnContainer p{
    color: #F7F7FC;
    font-weight: 700;
    font-size: 16px;
 }

 /* LinksApps */

 .LinksApps{
     width: 310px;
     display: flex;
     justify-content: space-between;
 }

 /* Input */

 .inputStile{
    background: #EFF0F7;
    border-radius: 16px;  
    border: none;
    height: 56px;
    width: 100%;
    padding: 12px;
    font-size: 16px;
 }
 .inputStileE{
    height: 56px;
    width: 100%;
    background: #FFF2F2;
    border: 2px solid #FB6969;
    border-radius: 16px;
    padding: 12px;
    font-size: 16px;
 }
 .tituloInput{
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #14142B;
    letter-spacing: 0.75px;
 }
 .errorInput{
    font-size: 14px;
    line-height: 22px;
    color: #FB6969;
    letter-spacing: 0.25px;
    margin-left: 8px;
 }