/*Input*/
.container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 57px;
}

/* Brand */

.brandTitle{
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
    margin-left: 14px;
}

/*Btn*/

.btnContainer{
    width: 200px;
    height: 56px;
    border-radius: 40px;
    background:var(--main-color-green);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
 .btnContainer p{
    color: #F7F7FC;
    font-weight: 700;
    font-size: 16px;
 }

 /* LinksApps */

 .LinksApps{
     width: 310px;
     display: flex;
     justify-content: space-between;
 }