@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} 
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
  vertical-align: baseline;
}

:root {
  --main-bodey-width: 1410px;
}
.secction_body{
  width: var(--main-bodey-width);
  margin: 0px auto;
}
.row{
  display: flex;
  justify-content: space-between;
}
.row_line{
  display: flex;
}
.row_aling{
  display: flex;
  align-items: center;
}
.row_center{
  display: flex;
  justify-content: center;
}
.c_t{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Boton de facebook*/
.kep-login-facebook.metro {
  background: blue;
}

/* Responsibe */

@media  only screen and (max-width:750px) {
  .row, .row_center{
    flex-direction: column;
    align-items: center;
  }
}

@media  only screen and (max-width:1410px) {
  .secction_body{
    width: 100vw;
    padding: 0px 16px;
  }
}