/* General */
.main_Title{
  color: #1C1F28;
  text-align: center;
  font-size: 34px;
  margin-bottom: 20px;
}
.desc_title{
  font-size: 18px;
  line-height: 24px;
  color: #7A7C82;
  text-align: center;
}
.genera_title{
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  margin-bottom: 8px;
}
.currency{
  font-weight: 500;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 10px;
}
/* OpenHome */
.OpenContainer{ 
  height: 100vh;
  background-image: url("../assets/home/Mask.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.OpenBody{
  display: flex;
  width: var(--main-bodey-width);
  height: 75%;
}
.homeImgContainer{
  position: relative;
  width: 400px;
  margin-right: 50px;
}
.cellPhoneA{
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0px;
  left: 35px;
  z-index: 2;
}
.cellPhoneB{
  position: absolute;
  width: 100%;
  height: 90%;
  top: 72px;
  left: -80px;
  z-index: 1;
}

.OpenTextContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.OpenTextContainer h1{
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  color: #FFF;
  width: 400px;
  margin-bottom: 30px;
}
.OpenHomeTextDesc{
  font-size: 16px;
  line-height: 28px;
  color: #E4E4E4;
  width: 487px;
  margin-bottom: 20px;
}
.OpenHomeTextCount{
  color: #E4E4E4; 
  font-weight: 700;
  margin-bottom: 80px;
}
/* Phones */
.swiperPhones{
  height: 410px;
}
/* ComoFunciona */
.ComoFunciona{
  padding-top: 80px;
}
.ComoFuncionaSwiper{
  height: 420px;
  margin-bottom: 30px;
}
.ComoFuncionaCard{
  width: 420px;
  height: 420px;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  margin-top: 40px; 
}
.ComoFuncionaImg{
  object-fit: contain;
}
.CFcardTitle{
  color: #1C1F28;
  font-size: 24px;
  text-align: center;
  margin: 26px 0px;
} 
.CFcardDesc{
  color: #A1A4AC;
  font-size: 20px;
  text-align: center;
  line-height: 23px;
}

/* Subscripciones */
.Subscripciones{
  margin-top: 75px;
  margin-bottom: 160px;
}
.planBasico{
  background: #F1ECFF;
  width: 369px;
  height: 505px;
  border-radius: 18px;
  margin-right: -30px;
  margin-top: 50px;
  padding: 25px 40px;
  color: #222A41;
}
.planPremium{
  background: #5F2EEA;
  width: 419px;
  height: 605px;
  border-radius: 18px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  padding: 25px 40px;
  color: #FFF;
}
.benefitLine{
  display: flex;
  align-items: center;
  height: 50px;
}
.benefitLine p{
  font-size: 18px;
  padding-left: 25px;
 margin-bottom: 6px;
}

/* Instrucciones */

.Instrucciones{
  background-image: url("../assets/home/Mask_I.png");
  padding-bottom: 60px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.Instrucciones span{
  line-height: 0px;
}
.InstruccionesCard{
  width: 420px;
  height: 252px;
  box-shadow: 0px 0px 10px #F1ECFF;
  border-radius: 15px;
  padding: 40px;
  margin-top: 50px;
}
.InstruccionesCard p:nth-child(2){
  size: 24px;
  color: #1C1F28;
  margin: 20px 0px; 
}
.InstruccionesCard p:nth-child(3){
  color: #7A7C82;
  font-size: 18px;
}
.iconContainer{
  background: var(--main-color); 
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.instructionPhine{
  margin: 0px 40px 50px;
}

/* Contacto */

.NewsLetter{
  background: #FFFFFF;
  box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  margin-bottom: 93px;
  padding: 54px 54px;
  display: flex;
  justify-content: space-around;
}
.ContactForm{
  max-width: 670px;
}
.NewsLetter h3{
  color: #535353;
  font-size: 32px;
  line-height: 62px;
  margin-bottom: 13px; 
  font-weight: 700;
}
.NewsLetter h4{
  color: #A1A4AC;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 42px;
}
.NewsLetter label{
color: #14142B;
font-size: 14px;
margin-bottom: 4px;
}
.inputNewsLetter{
  background-color: #EFF0F6;
  height: 56px;
  width: 325px;
  border-radius: 16px;
  border: none;
  margin-right: 18px;
  color: #ACB5BD;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 16px;
}
.textAreNL{
  padding: 12px;
  margin: 16px 0px;
  width: 100%;
  height: 192px;
  resize: none;
}
/* Security */

.Security{
display: flex;
justify-content: space-evenly;
margin: 61px 0px 0px;
}
.securityCard{
  width: 298px;
  height: 386px;
  border: 1px solid #ECECEC;
  border-radius: 30px;
  overflow: hidden;
}
.securityCardImg{
  width: 100%;
  height: 177px;
  background-color: #F7F7F7;
}
.securityCard p:nth-child(2){
  color: #2D2D2D;
  font-size: 22px;
  font-family: 700;
  margin: 14px 24px;
}
.securityCard p:nth-child(3){
  color: #2D2D2D;
  margin: 0px 24px;
  font-size: 14px;
  line-height: 22px;
}

/* Responsibe */
@media  only screen and (max-width:750px) {
  .Security{
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }
  /* Open */
  .OpenContainer{
    background: linear-gradient(135.25deg, var(--main-color) 5.57%, #FFA3FE 148.79%);
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    height: fit-content;
    padding: 90px 16px;
  }
  .OpenTextContainer{
    align-items: center;
    text-align: center;
  }
  .OpenTextContainer span{
    height: 10px;
  }
  .OpenBody{
    flex-direction: column;
    width: 100%;
  }
  .OpenHomeTextDesc{
    width: 100%;
  }
  .OpenTextContainer h2{
    width: 100%;
  }
  .Instrucciones{
    height: fit-content;
  }
  .planPremium{
    width: 95%;
    margin: 0 auto;
    padding: 25px;
  }
  .planBasico{
    width: 95%;
    height: 605px;
    margin: 0 auto;
    padding: 25px;
  }
  .benefistContainer{
    display: flex;
    flex-direction: column;
    flex-shrink: inherit;
    height: 360px;
    margin-top: 26px;
    justify-content: space-between;
  }
  .currency{
    font-size: 34px;
  }
  .main_Title{
    margin: 0px 16px 20px;
  }
  .desc_title{
    margin: 0px 16px;
  }
  .ComoFuncionaCard{
    width: 100%;
  }
  .InstruccionesCardFirst{
    order: 1;
  }
  .instructionPhine{
    margin: 40px 0px 0px 0px;
  }
  .Instrucciones{
    background: linear-gradient(183.64deg, #FFFFFF -12.1%, #F7F7F7 97.57%);
    clip-path: polygon(0 0, 100% 0%, 100% 97%, 0% 100%);
  }
  .InstruccionesCard{
    width: 100%;
    padding: 30px;
    margin-top: 30px;
  }
  .InstructionsBtnCon{
    margin: 45px 0px;
  }
  .inputNewsLetter{
    margin-right: 0px;
  }
}