/*Cuerpo*/
.cuerpo{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   position: relative;
}

/*Header*/
.headreContainer{
   align-self: center;
   position: absolute;
   display: flex;
   align-items: center;
   padding: 20px 0px;
   justify-content: space-between;
}
.headreContainer p{
    color: #FFF;
    margin: 0px 14px;
    cursor: pointer;
}
/*Footer*/
.footerContainer{
    background-image: url("../assets/layout/footer.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 640px;
    margin-top: 140px;
}
.FooterCard{
    max-width: 1140px;
    height: 344px;
    margin: -110px auto 0;
    background: #FFF;
    box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    overflow: hidden;
}
.FooterTexContainer{
    width: 520px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.FooterLine{
    height: 4px;
    background-color: #5A38FD;
    margin-bottom: 94px;
}
.FooterCardTitle{
    color: #1C1F28;
    margin-bottom: 20px;
    text-align: center;
}
.FooterCardDesc{
    color: #A1A4AC;
    margin-bottom: 30px;
    text-align: center;
}
.footerGeneralInfo{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footerGeneralInfo p{
    color: #FFF;
    font-size: 12px;
}
.footerGeneralBrand{
    height: 50px;
}
/* Responsibe */

@media  only screen and (max-width:750px) {
    .headreContainer{
        z-index: 1;
        flex-direction: column;
    }
    .headreContainer div:nth-child(2){
        display: none;
    }
    .footerContainer{
        background: var(--main-color);
    }
    .FooterCard{
        width: 95%;
    }
    .FooterTexContainer{
        width:  85%;
    }
}
