/*Cuerpo*/
.cuerpo{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   position: relative;
}

/*Header*/
.headreContainer{
   align-self: center;
   position: absolute;
   display: flex;
   align-items: center;
   padding: 20px 0px;
   justify-content: space-between;
}
.headreContainer p{
    color: #FFF;
    margin: 0px 14px;
    cursor: pointer;
}
/*Footer*/
.footerContainer{
    background-image: url("../assets/layout/footer.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 640px;
    margin-top: 300px;
}
.FooterCard{
    max-width: 1140px;
    height: 540px;
    margin: -290px auto 0;
    background: #FFF;
    box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    overflow: hidden;
}
.FooterTexContainer{
    width: 520px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.FooterLine{
    height: 4px;
    background-color: #5A38FD;
    margin-bottom: 46px;
}
.socialCOntainer{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 46px;
}
.FooterCardTitle{
    color: #3D5A80;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 46px;
    text-align: center;
}
.FooterCardshare{
    color: #3D5A80;
    opacity: 50%;
    font-size: 12px;
    margin-bottom: 16px;
}
.inputShare{
    background: rgba(157, 157, 157, 0.04);
    width: 512px;
    height: 53px;
    border-radius: 16px;
    border: none;
    padding: 16px;
    margin-bottom: 64px;
    color: rgba(61, 90, 128, 0.5);
}
.iconInputShare{
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}
.FooterCardDesc{
    color: #1C1F28;
    text-align: center;
    font-size: 24px;
    margin-bottom: 35px;
}
.footerGeneralInfo{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footerGeneralInfo p{
    color: #FFF;
    font-size: 12px;
}
.footerGeneralBrand{
    height: 50px;
}
/* Responsibe */

@media  only screen and (max-width:750px) {
    .headreContainer{
        z-index: 1;
        flex-direction: column;
    }
    .headreContainer div:nth-child(2){
        display: none;
    }
    .footerContainer{
        background: var(--main-color);
    }
    .FooterCard{
        width: 95%;
    }
    .FooterTexContainer{
        width:  85%;
    }
    .inputShare{
        width: 90vw;
    }
}
